;; shadow-cljs configuration
{:source-paths ["src"]
 :dependencies []
 :builds {:azure-function
          {:target :node-library
           :exports {:hello azure-function.core/hello}
           :output-to "azure-function/index.js"
           :compiler-options {:optimizations :simple}
           }
          :node-repl
          {:target :node-script
           :main azure-function.core/main
           :output-to "out/main.js"}}}
